* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  position: relative;
}

.headerTop {
  width: 100%;
  max-width: 1540px;
  height: 40px;
  background-color: #3a0ca3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTopp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.headerTopp i {
  color: #ffffff;
  font-size: 1rem;
}
.headerTopp i:hover {
  color: #808080;
  transition: all 0.5s ease;
}
.headerTopp p {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.headerTopp p:hover {
  color: #808080;
  transition: all 0.5s ease;
}
.headerTopp .reference {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.headerTopp .address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.bgCircle {
  position: absolute;
  width: 100%;
  max-width: 1515px;
  height: 902px;
  top: 40px;
  gap: 0px;
  border-radius: 0px 0px 800px 800px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  background: linear-gradient(180deg, rgba(76, 201, 240, 0) 0%, rgba(67, 97, 238, 0.3) 100%);
}

.bgCircle1 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 423.19px;
  left: 683.19px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  transform: rotate(30deg);
  background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
}

.bgCircle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 1062px;
  left: 169px;
  gap: 0px;
  opacity: 0.5px;
  transform: rotate(-30deg);
  background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
  border-radius: 50%;
}

.headerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.headerNavbar .navbarItem ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNavbar .navbarItem ul .active {
  border-radius: 1.875rem;
  background: rgba(67, 97, 238, 0.3019607843);
}
.headerNavbar .navbarItem ul li a {
  padding: 8px 16px;
  color: #444444;
  cursor: pointer;
  font-weight: 500;
}
.headerNavbar .headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerNavbar .headerLogo .headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #3a0ca3;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  padding: 15px 26px;
  border-radius: 50px;
  margin-left: 20px;
}
.headerNavbar .headerLogo .headerBtn:hover {
  background-color: #808080;
  transition: all 0.5s ease;
}
.headerNavbar .headerLogo .login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.headerNavbar .headerLogo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 200px;
}
.headerNavbar .headerLogo .logo img {
  padding: 13px;
  border-radius: 50px;
  background-color: #3a0ca3;
}

.headerMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.headerMain .headerTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}
.headerMain .headerTitle h3 {
  color: #4361ee;
  font-size: 19.4px;
  font-weight: 500;
  line-height: 29.1px;
  letter-spacing: 0.15em;
  margin-left: 40px;
}
.headerMain .headerTitle h1 {
  font-size: 57.3px;
  font-weight: 600;
  margin-left: 40px;
  line-height: 65px;
}
.headerMain .headerTitle p {
  color: #808080;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 40px;
  line-height: 26px;
}
.headerMain .headerTitle .imgCard {
  position: relative;
  z-index: 100;
}
.headerMain .headerTitle .imgCard img {
  width: 100%;
  max-width: 540px;
  margin-left: 20px;
}
.headerMain .headerTitle .imgCard .leftBtn {
  position: absolute;
  left: 22px;
  top: 154px;
  padding: 12px 18px;
  border-radius: 50%;
  background-color: #ffffff;
}
.headerMain .headerTitle .imgCard .leftBtn:hover {
  background-color: #ccc;
  transition: all 0.5s ease;
}
.headerMain .headerTitle .imgCard .rightBtn {
  position: absolute;
  right: 22px;
  top: 154px;
  padding: 12px 18px;
  border-radius: 50%;
  background-color: #ffffff;
}
.headerMain .headerTitle .imgCard .rightBtn:hover {
  background-color: #ccc;
  transition: all 0.5s ease;
}
.headerMain .sale {
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-top: 80px;
  background-color: #ffffff;
  border-radius: 30px;
  z-index: 11;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.0509803922);
}
.headerMain .sale .saleTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 2px solid #ccc;
}
.headerMain .sale .saleTitle .active {
  color: #3a0ca3;
  font-weight: 600;
}
.headerMain .sale .saleTitle:hover {
  cursor: pointer;
}
.headerMain .sale input {
  background-color: #f6f6f6;
  margin: 30px 40px;
  border-radius: 20px;
  padding: 15px 0;
  padding-left: 19px;
  border: none;
  font-size: 16px;
}
.headerMain .sale input:focus {
  outline: none;
}
.headerMain .sale select {
  background-color: #f6f6f6;
  margin: 17px 40px;
  border-radius: 20px;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
}
.headerMain .sale select:focus {
  outline: none;
}
.headerMain .sale .converter {
  display: flex;
  margin: 5px 40px;
  justify-content: start;
  align-items: center;
  color: #3a0ca3;
  font-size: 14px;
  cursor: pointer;
}
.headerMain .sale .headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #3a0ca3;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 0;
  border-radius: 50px;
  margin: 50px 40px;
}
.headerMain .sale .headerBtn:hover {
  background-color: rgb(69, 136, 204);
  transition: all 0.5s ease;
}

.happyCustomers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.happyCustomers .customerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}
.happyCustomers .customerCards .customerCard {
  width: 320px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 60px;
  box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.0509803922);
  z-index: 11;
}
.happyCustomers .customerCards .customerCard:hover {
  box-shadow: 10px 30px 70px 0px rgba(0, 0, 0, 0.1490196078);
  transition: all 0.5s ease;
  background-color: #8079e4;
}
.happyCustomers .customerCards .customerCard .happyImg {
  width: 155px;
}
.happyCustomers .customerCards .customerCard h4 {
  font-size: 19.4px;
  font-weight: 500;
  line-height: 29.1px;
  color: #2b2b2b;
}
.happyCustomers .customerCards .customerCard .houseImg {
  width: 55px;
}
.happyCustomers .partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
}
.happyCustomers .partners h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #808080;
}
.happyCustomers .partners .partnerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 42px;
}
.happyCustomers .partners .partnerIcon img {
  cursor: pointer;
}

.whoAreWe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.whoAreWe .whoText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.whoAreWe .whoText h3 {
  font-size: 19.4px;
  font-weight: 500;
  line-height: 29.1px;
  color: #4361ee;
  margin-bottom: 40px;
}
.whoAreWe .whoText h1 {
  font-size: 39.8px;
  font-weight: 600;
  line-height: 47px;
  color: #2b2b2b;
  margin-bottom: 30px;
}
.whoAreWe .whoText p {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}
.whoAreWe .whoText .whoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.0588235294);
  background-color: #ffffff;
  gap: 30px;
  margin: 30px 0;
}
.whoAreWe .whoText .whoItem:hover {
  background-color: #8ccdff;
  transition: all 0.5s ease;
}

.whoItem1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.0588235294);
  background-color: #ffffff;
  gap: 30px;
}
.whoItem1:hover {
  background-color: #8ccdff;
  transition: all 0.5s ease;
}

.whoItemText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.whoItemText h4 {
  font-size: 19.4px;
  font-weight: 500;
  color: #4361ee;
}
.whoItemText p {
  font-size: 16px;
  font-weight: 400;
}

.whoImgCards {
  width: 100%;
  display: flex;
}
.whoImgCards .imagess {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sell {
  display: flex;
  flex-direction: column;
  margin: 150px 0;
}
.sell .sellTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.sell .sellTop .sellText {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.sell .sellTop .sellText h3 {
  font-size: 19.4px;
  font-weight: 500;
  color: #4361ee;
}
.sell .sellTop .sellText h1 {
  font-size: 39.8px;
  font-weight: 600;
  color: #2b2b2b;
}
.sell .sellTop .sellText p {
  font-size: 16px;
  font-weight: 400;
  color: #808080;
}
.sell .sellTop .sellBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sell .sellTop .sellBtns .sellBtn {
  color: #3a0ca3;
  border: 1px solid #3a0ca3;
  padding: 12px 30px;
  border-radius: 40px;
}
.sell .sellTop .sellBtns .active {
  color: #ffffff;
  background-color: #3a0ca3;
}

.sellCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 25px;
}
.sellCards .sellCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 20px 30px 10px rgba(0, 0, 0, 0.0509803922);
}
.sellCards .sellCard:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all 0.5s ease;
}
.sellCards .sellCard img {
  width: 100%;
  max-width: 250px;
}
.sellCards .sellCard .cardTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sellCards .sellCard h3 {
  font-size: 27.6px;
  font-weight: 600;
  line-height: 41.4px;
  color: #2b2b2b;
}
.sellCards .sellCard h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  color: #2b2b2b;
}
.sellCards .sellCard p {
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  color: #808080;
}
.sellCards .sellCard .cardIcon {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */