* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

// root element
// color
$primaryColor: #3a0ca3;
$colorBlue: #4361ee;
$colorWhite: #ffffff;
$colorGray: #808080;
$textColor: #2b2b2b;

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  position: relative;
}

.headerTop {
  width: 100%;
  max-width: 1540px;
  height: 40px;
  background-color: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .headerTopp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  i {
    color: $colorWhite;
    font-size: 1rem;
    &:hover {
      color: $colorGray;
      transition: all 0.5s ease;
    }
  }
  p {
    color: $colorWhite;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
    &:hover {
      color: $colorGray;
      transition: all 0.5s ease;
    }
  }
  .reference {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
.bgCircle {
  position: absolute;
  width: 100%;
  max-width: 1515px;
  height: 902px;
  top: 40px;
  gap: 0px;
  border-radius: 0px 0px 800px 800px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
}
.bgCircle1 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 423.19px;
  left: 683.19px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  transform: rotate(30deg);
  background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
}
.bgCircle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 1062px;
  left: 169px;
  gap: 0px;
  opacity: 0.5px;
  transform: rotate(-30deg);
  background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
  border-radius: 50%;
}
.headerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  .navbarItem ul {
    display: flex;
    justify-content: center;
    align-items: center;
    .active {
      border-radius: 1.875rem;
      background: #4361ee4d;
    }
    li a {
      padding: 8px 16px;
      color: #444444;
      cursor: pointer;
      font-weight: 500;
    }
  }
  .headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    .headerBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: $primaryColor;
      color: $colorWhite;
      font-weight: 500;
      font-size: 1rem;
      padding: 15px 26px;
      border-radius: 50px;
      margin-left: 20px;
      &:hover {
        background-color: $colorGray;
        transition: all 0.5s ease;
      }
    }
    .login {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-right: 200px;
      img {
        padding: 13px;
        border-radius: 50px;
        background-color: $primaryColor;
      }
    }
  }
}
.headerMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  .headerTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    h3 {
      color: #4361ee;
      font-size: 19.4px;
      font-weight: 500;
      line-height: 29.1px;
      letter-spacing: 0.15em;
      margin-left: 40px;
    }
    h1 {
      font-size: 57.3px;
      font-weight: 600;
      margin-left: 40px;
      line-height: 65px;
    }
    p{
        color: #808080;
        font-size: 1rem;
        font-weight: 400;
      margin-left: 40px;
      line-height: 26px;
    }
    .imgCard{
        position: relative;
        z-index: 100;
        img{
            width: 100%;
        max-width: 540px;
        margin-left: 20px;
        }
        &:hover{
            // opacity: 0.8;
        }
        .leftBtn{
            position: absolute;
            left: 22px;
            top: 154px;
            padding: 12px 18px;
            border-radius: 50%;
            background-color: $colorWhite;
            &:hover{
                background-color: #ccc;
                transition: all 0.5s ease;
            }
        }
        .rightBtn{
            position: absolute;
            right: 22px;
            top: 154px;           
            padding: 12px 18px;
            border-radius: 50%;
            background-color: $colorWhite;
            &:hover{
                background-color: #ccc;
                transition: all 0.5s ease;
            }
        }

    }
  }
  .sale{
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    // gap: 40px;
    margin-right:60px;
    margin-top: 80px;
    background-color: $colorWhite;
    border-radius: 30px;
    z-index: 11;
    box-shadow: 10px 30px 50px 0px #0000000D;

    .saleTitle{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 125px;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-bottom: 25px;
      border-bottom: 2px solid #ccc;
      .active{
        color: #3A0CA3;
        font-weight: 600;
      }
      &:hover{
        cursor: pointer;
      }
    }
    input{
      background-color: #F6F6F6;
      margin: 30px 40px;
      border-radius: 20px;
      padding: 15px 0;
      padding-left: 19px;
      border: none;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
    select{
      background-color: #F6F6F6;
      margin:17px 40px;
      border-radius: 20px;
      padding: 15px 20px;
      border: none;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
    .converter{
      display: flex;
      margin:  5px 40px;
      justify-content: start;
      align-items: center;
      color: #3A0CA3;
      font-size: 14px;
    }
    .headerBtn{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      background-color: $primaryColor;
      color: $colorWhite;
      font-weight: 500;
      font-size: 1rem;
      padding: 12px 0;
      border-radius: 50px;
      margin: 50px 40px;
      &:hover {
        background-color: rgb(69, 136, 204);
        transition: all 0.5s ease;
      }
    }
  }
}
